.project-content {
  margin: 100px 100px;
}

h2 {
  font-size: 3em;
  color: white;
  padding-bottom: 30px;
  border-bottom: solid 3px rgb(225, 230, 22);
}

h3 {
  color: rgb(225, 230, 22);
  font-style: italic;
}

.back {
  padding-top: 100px;
  color: rgb(225, 230, 22);
}

.project-text {
  padding-top: 30px;
  padding-bottom: 40px;
  color: white;
  font-size: 1.2em;
}

.back i:hover {
  color: rgb(225, 230, 22);
  cursor: default;
}

.back a {
  color: white;
  font-size: 2em;
  margin-right: 15px;
}

.goals {
  list-style: disc;
  display: inline-block;
  line-height: 2.0;
}

.button {
  width: 200px;
  height: 40px;
  background: rgb(3, 24, 46);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 7px;
  font-size: .8em;
  color: white;
}


.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: rgb(225, 230, 22);
  color: black;
}
